In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/regression/mumbai_houses_task.csv')
#data.drop(['Unnamed: 0'], axis=1, inplace=True)
display(df)
s=pd.get_dummies(df)
s.to_csv('data/regression/one-hot_encoded_mumbai_houses_task.csv', index=False)
df = pd.read_csv('data/regression/one-hot_encoded_mumbai_houses_task.csv')
display(df)

,price,area,latitude,longitude,Bedrooms,Bathrooms,Balcony,Status,neworold,parking,Furnished_status,Lift,type_of_building
0,22400000.0,629.0,19.032800,72.896357,2.0,2.0,0.0,Under Construction,New Property,0.0,NaN,0.0,Flat
1,35000000.0,974.0,19.032800,72.896357,3.0,2.0,0.0,Under Construction,New Property,0.0,NaN,0.0,Flat
2,31700000.0,968.0,19.085600,72.909277,3.0,3.0,0.0,Under Construction,New Property,0.0,NaN,0.0,Flat
3,18700000.0,629.0,19.155756,72.846862,2.0,2.0,2.0,Ready to Move,New Property,2.0,NaN,2.0,Flat
4,13500000.0,1090.0,19.177555,72.849887,2.0,2.0,0.0,NaN,New Property,0.0,Unfurnished,0.0,Flat
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6250,19500000.0,810.0,19.138320,72.810020,2.0,2.0,0.0,Ready to Move,Resale,0.0,Semi-Furnished,0.0,Flat
6251,22000000.0,1400.0,19.221920,72.854250,3.0,3.0,1.0,Ready to Move,Resale,1.0,Unfurnished,1.0,Flat
6252,20000000.0,750.0,19.144320,72.824111,2.0,2.0,0.0,Ready to Move,Resale,0.0,NaN,0.0,Flat
6253,11000000.0,700.0,19.047201,72.872225,2.0,2.0,0.0,Ready to Move,Resale,0.0,Furnished,0.0,Flat
6254,15000000.0,900.0,19.168818,72.936375,2.0,2.0,0.0,Ready to Move,Resale,0.0,NaN,0.0,Flat

,price,area,latitude,longitude,Bedrooms,Bathrooms,Balcony,parking,Lift,Status_Ready to Move,Status_Under Construction,neworold_New Property,neworold_Resale,Furnished_status_Furnished,Furnished_status_Semi-Furnished,Furnished_status_Unfurnished,type_of_building_Flat,type_of_building_Individual House
0,22400000.0,629.0,19.032800,72.896357,2.0,2.0,0.0,0.0,0.0,0,1,1,0,0,0,0,1,0
1,35000000.0,974.0,19.032800,72.896357,3.0,2.0,0.0,0.0,0.0,0,1,1,0,0,0,0,1,0
2,31700000.0,968.0,19.085600,72.909277,3.0,3.0,0.0,0.0,0.0,0,1,1,0,0,0,0,1,0
3,18700000.0,629.0,19.155756,72.846862,2.0,2.0,2.0,2.0,2.0,1,0,1,0,0,0,0,1,0
4,13500000.0,1090.0,19.177555,72.849887,2.0,2.0,0.0,0.0,0.0,0,0,1,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6250,19500000.0,810.0,19.138320,72.810020,2.0,2.0,0.0,0.0,0.0,1,0,0,1,0,1,0,1,0
6251,22000000.0,1400.0,19.221920,72.854250,3.0,3.0,1.0,1.0,1.0,1,0,0,1,0,0,1,1,0
6252,20000000.0,750.0,19.144320,72.824111,2.0,2.0,0.0,0.0,0.0,1,0,0,1,0,0,0,1,0
6253,11000000.0,700.0,19.047201,72.872225,2.0,2.0,0.0,0.0,0.0,1,0,0,1,1,0,0,1,0
6254,15000000.0,900.0,19.168818,72.936375,2.0,2.0,0.0,0.0,0.0,1,0,0,1,0,0,0,1,0

In [3]:

#data = data.fillna(data.mode())
#print(df[['Status', 'Furnished_status']].mode())
#df['Status'] = df['Status']. fillna('Ready to Move')
#df['Furnished_status'] = df['Furnished_status']. fillna('Unfurnished')

print(pd.isnull(df).sum())

price                                0
area                                 0
latitude                             0
longitude                            0
Bedrooms                             0
Bathrooms                            0
Balcony                              0
parking                              0
Lift                                 0
Status_Ready to Move                 0
Status_Under Construction            0
neworold_New Property                0
neworold_Resale                      0
Furnished_status_Furnished           0
Furnished_status_Semi-Furnished      0
Furnished_status_Unfurnished         0
type_of_building_Flat                0
type_of_building_Individual House    0
dtype: int64

In [4]:
y = df["price"]
X = df.drop(["price"], axis=1)
display(y)
display(X)

0       22400000.0
1       35000000.0
2       31700000.0
3       18700000.0
4       13500000.0
           ...
6250    19500000.0
6251    22000000.0
6252    20000000.0
6253    11000000.0
6254    15000000.0
Name: price, Length: 6255, dtype: float64

,area,latitude,longitude,Bedrooms,Bathrooms,Balcony,parking,Lift,Status_Ready to Move,Status_Under Construction,neworold_New Property,neworold_Resale,Furnished_status_Furnished,Furnished_status_Semi-Furnished,Furnished_status_Unfurnished,type_of_building_Flat,type_of_building_Individual House
0,629.0,19.032800,72.896357,2.0,2.0,0.0,0.0,0.0,0,1,1,0,0,0,0,1,0
1,974.0,19.032800,72.896357,3.0,2.0,0.0,0.0,0.0,0,1,1,0,0,0,0,1,0
2,968.0,19.085600,72.909277,3.0,3.0,0.0,0.0,0.0,0,1,1,0,0,0,0,1,0
3,629.0,19.155756,72.846862,2.0,2.0,2.0,2.0,2.0,1,0,1,0,0,0,0,1,0
4,1090.0,19.177555,72.849887,2.0,2.0,0.0,0.0,0.0,0,0,1,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6250,810.0,19.138320,72.810020,2.0,2.0,0.0,0.0,0.0,1,0,0,1,0,1,0,1,0
6251,1400.0,19.221920,72.854250,3.0,3.0,1.0,1.0,1.0,1,0,0,1,0,0,1,1,0
6252,750.0,19.144320,72.824111,2.0,2.0,0.0,0.0,0.0,1,0,0,1,0,0,0,1,0
6253,700.0,19.047201,72.872225,2.0,2.0,0.0,0.0,0.0,1,0,0,1,1,0,0,1,0
6254,900.0,19.168818,72.936375,2.0,2.0,0.0,0.0,0.0,1,0,0,1,0,0,0,1,0

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [6]:
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((4378, 17), (4378,), (1877, 17), (1877,))

In [7]:
from sklearn.linear_model import LinearRegression, Lasso, Ridge

In [8]:
lr = LinearRegression().fit(X_train, y_train)
for item in zip(X_train.columns, lr.coef_.round()):
    print(item)

lr.predict(X_test)

('area', 20840.0)
('latitude', -79346622.0)
('longitude', -74824549.0)
('Bedrooms', 1894692.0)
('Bathrooms', 6830639.0)
('Balcony', -25132.0)
('parking', -25132.0)
('Lift', -25132.0)
('Status_Ready to Move', 2477899.0)
('Status_Under Construction', 8429899.0)
('neworold_New Property', 547017.0)
('neworold_Resale', -547017.0)
('Furnished_status_Furnished', 2988717.0)
('Furnished_status_Semi-Furnished', 97270.0)
('Furnished_status_Unfurnished', -979924.0)
('type_of_building_Flat', -252488.0)
('type_of_building_Individual House', 252488.0)

array([20390499.75451088,  1916192.08619881, 17367421.51503372, ...,
       15305561.51179886, 45437875.57657909, 29385686.02295589])

In [9]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, mean_absolute_percentage_error
from math import sqrt

In [10]:
y_pred = lr.predict(X_test)

In [34]:
print(f'MAE: {mean_absolute_error(y_test, y_pred)}')
print(f'MSE: {mean_squared_error(y_test, y_pred)}')
print(f'RMSE: {sqrt(mean_squared_error(y_test, y_pred))}')
print(f'MAPE: {sqrt(mean_absolute_percentage_error(y_test, y_pred))}')

def MAE(y_test, y_predict):
    return np.sum(abs(np.array(y_test)-np.array(y_predict)))/len(y_test)

def MSE(y_test, y_predict):
    return np.sum((np.array(y_test) - np.array(y_predict))  2) / len(y_test)

def RMSE(y_test, y_predict):
    return sqrt(MSE(y_test, y_predict))

def MAPE(y_test, y_predict):
    return np.mean(abs((np.array(y_test) - np.array(y_predict)) / np.array(y_test)))

def R2(y_test, y_predict):
    return 1 - (MSE(y_test, y_predict) / (np.sum((np.array(y_test) - np.array(y_test).mean())**2) / len(y_test)))
print(R2(y_test,y_pred))
print(f'R^2: {lr.score(X_test, y_test)}')

SyntaxError: invalid syntax (184517925.py, line 10)

In [12]:
len(lr.coef_)
lr.coef_

array([ 2.08399056e+04, -7.93466218e+07, -7.48245494e+07,  1.89469169e+06,
        6.83063879e+06, -2.51317426e+04, -2.51317426e+04, -2.51317426e+04,
        2.47789907e+06,  8.42989923e+06,  5.47016580e+05, -5.47016580e+05,
        2.98871717e+06,  9.72702925e+04, -9.79924151e+05, -2.52488211e+05,
        2.52488211e+05])

In [13]:
# L1
ridge = Ridge(alpha=0.06).fit(X_train, y_train)
y_pred = ridge.predict(X_test)
print(f'MAE: {mean_absolute_error(y_test, y_pred)}')
print(f'MSE: {mean_squared_error(y_test, y_pred)}')
print(f'RMSE: {sqrt(mean_squared_error(y_test, y_pred))}')
print(f'MAPE: {sqrt(mean_absolute_percentage_error(y_test, y_pred))}')
print(f'R^2: {ridge.score(X_test, y_test)}')
ridge.coef_

MAE: 9291928.396794153
MSE: 304050188704239.6
RMSE: 17437034.97456605
MAPE: 0.6991175555863515
R^2: 0.6580542173609097

array([ 2.08426004e+04, -7.92422468e+07, -7.44986740e+07,  1.89406320e+06,
        6.83378471e+06, -2.56631899e+04, -2.56631899e+04, -2.56631899e+04,
        2.47620592e+06,  7.95492215e+06,  5.47216634e+05, -5.47216635e+05,
        2.99187702e+06,  9.62938974e+04, -9.81248026e+05, -2.51079416e+05,
        2.51079416e+05])

In [24]:
# L2
lasso = Lasso(alpha=0.4).fit(X_train, y_train)
y_pred = lasso.predict(X_test)
print(np.mean(abs(y_test-y_pred)))
print(f'MAE: {mean_absolute_error(y_test, y_pred)}')
print(f'MSE: {mean_squared_error(y_test, y_pred)}')
print(f'RMSE: {sqrt(mean_squared_error(y_test, y_pred))}')
print(f'MAPE: {sqrt(mean_absolute_percentage_error(y_test, y_pred))}')
print(f'R^2: {lasso.score(X_test, y_test)}')
lasso.coef_

9296114.684343854
MAE: 9296114.684343854
MSE: 304039966444875.8
RMSE: 17436741.852905773
MAPE: 0.6996443533965415
R^2: 0.6580657136816106

array([ 2.08399071e+04, -7.93465893e+07, -7.48244199e+07,  1.89469294e+06,
        6.83063741e+06, -7.53958600e+04, -0.00000000e+00, -3.62319899e-12,
        2.47788549e+06,  8.42813495e+06,  1.09402864e+06, -0.00000000e+00,
        2.98871324e+06,  9.72646524e+04, -9.79927562e+05, -5.04969194e+05,
        0.00000000e+00])

In [15]:
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
import numpy as np

In [16]:
parameters = {'alpha': np.arange(0, 1, 0.1)}
ridge_optimal = GridSearchCV(Ridge(), parameters).fit(X_train, y_train)
ridge_optimal.best_params_

{'alpha': 0.30000000000000004}

In [17]:
ridge_optimal = RandomizedSearchCV(Ridge(), parameters).fit(X_train, y_train)
ridge_optimal.best_params_

{'alpha': 0.30000000000000004}

In [18]:
#y = df['price'].values.reshape(-1,1)
#X = df['area'].values.reshape(-1,1)
X = X_train.values.reshape(-1,17)
y = y_train.values.reshape(-1,1)

lr = LinearRegression().fit(X, y)
lr.coef_

array([[ 2.08399056e+04, -7.93466218e+07, -7.48245494e+07,
         1.89469169e+06,  6.83063879e+06, -2.51317426e+04,
        -2.51317426e+04, -2.51317426e+04,  2.47789907e+06,
         8.42989923e+06,  5.47016580e+05, -5.47016580e+05,
         2.98871717e+06,  9.72702925e+04, -9.79924151e+05,
        -2.52488211e+05,  2.52488211e+05]])

In [19]:
from sklearn.preprocessing import PolynomialFeatures
# создаем объект, который позволит расширить множество предикторов
pf = PolynomialFeatures(2)
# добавляем новые предикторы
X_p=pf.fit_transform(X) 
X_p

array([[1.00000000e+00, 5.64000000e+02, 1.92147160e+01, ...,
        1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [1.00000000e+00, 1.55000000e+03, 1.91966980e+01, ...,
        1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [1.00000000e+00, 1.89000000e+03, 1.90327988e+01, ...,
        1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       ...,
       [1.00000000e+00, 1.00000000e+03, 1.90327996e+01, ...,
        1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [1.00000000e+00, 1.00000000e+03, 1.92308654e+01, ...,
        1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [1.00000000e+00, 8.75000000e+02, 1.94492422e+01, ...,
        1.00000000e+00, 0.00000000e+00, 0.00000000e+00]])

In [20]:
lr2 = LinearRegression().fit(X_p, y)
lr2.coef_

array([[ 1.56100166e+03,  4.12010375e+06, -1.48309586e+10,
        -1.54853424e+10, -9.80506860e+08,  1.75130633e+09,
         6.44519484e+06,  6.44519268e+06,  6.44519201e+06,
         1.25377978e+09,  6.49429110e+00,  2.50846251e+08,
        -2.50846243e+08,  7.84151954e+08,  5.37925048e+08,
         4.76769109e+08,  2.68888791e+08, -2.68888836e+08,
        -1.74304577e+00, -6.15762065e+04, -9.68267629e+04,
         3.43504114e+03,  1.63909742e+03,  8.27403390e+01,
         8.44329465e+01,  8.42219678e+01,  3.84266022e+03,
         8.69036170e+03,  2.05953930e+06,  2.06168294e+06,
         1.72813916e+03, -2.07354106e+02, -6.80538918e+02,
         2.05644652e+06,  2.06477836e+06,  1.46586407e+07,
         4.00535191e+08, -4.62816034e+06, -2.77100895e+07,
         8.40672990e+05,  8.40673029e+05,  8.40673013e+05,
        -1.13930709e+07,  1.69822059e+02, -7.42225141e+09,
        -7.40870706e+09, -1.99894128e+07, -7.31038081e+06,
        -8.91700660e+05, -7.42029963e+09, -7.41065884e+09,
         1.60511752e+08,  2.81604292e+07, -4.08142927e+07,
        -3.99830647e+05, -3.99830634e+05, -3.99830627e+05,
        -4.85688323e+07,  6.50402819e+02, -7.74946292e+09,
        -7.73587948e+09, -2.70822256e+07, -2.01809683e+07,
        -1.93230225e+07, -7.75058223e+09, -7.73476018e+09,
        -1.03126637e+06,  1.60551654e+06,  1.17358007e+05,
         1.17358012e+05,  1.17358009e+05, -2.09272770e+06,
         2.67671412e+01, -4.89307217e+08, -4.91199644e+08,
         3.98891476e+05,  1.04068547e+05, -1.28674480e+06,
        -4.89414260e+08, -4.91092601e+08, -6.76015382e+05,
         5.17149222e+04,  5.17149277e+04,  5.17149130e+04,
         1.08325674e+06,  1.78446326e+01,  8.74742719e+08,
         8.76563616e+08,  1.17979696e+06, -3.40289222e+05,
         1.26186671e+06,  8.75646537e+08,  8.75659799e+08,
        -5.60122654e+04, -5.60122647e+04, -5.60122634e+04,
        -8.45079162e+04,  0.00000000e+00,  3.26328206e+06,
         3.18191456e+06, -1.52481740e+04,  3.02922536e+05,
         1.09127812e+05,  3.11911371e+06,  3.32608295e+06,
        -5.60122693e+04, -5.60122632e+04, -8.45079215e+04,
         0.00000000e+00,  3.26328206e+06,  3.18191456e+06,
        -1.52481824e+04,  3.02922529e+05,  1.09127820e+05,
         3.11911372e+06,  3.32608294e+06, -5.60122711e+04,
        -8.45079363e+04,  0.00000000e+00,  3.26328206e+06,
         3.18191456e+06, -1.52481632e+04,  3.02922530e+05,
         1.09127819e+05,  3.11911370e+06,  3.32608292e+06,
         1.25377977e+09,  0.00000000e+00,  6.26388522e+08,
         6.27391251e+08, -3.79518249e+06, -3.24099809e+06,
        -5.23665009e+06,  6.26329816e+08,  6.27449958e+08,
         8.92233545e+00,  8.92233573e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         8.92231624e+00,  0.00000000e+00,  2.50846260e+08,
         0.00000000e+00,  3.88964200e+08,  2.68354951e+08,
         2.37793888e+08,  2.59562196e+08, -8.71593613e+06,
        -2.50846260e+08,  3.95187755e+08,  2.69570099e+08,
         2.38975219e+08,  9.32657915e+06, -2.60172839e+08,
         7.84151955e+08,  0.00000000e+00,  0.00000000e+00,
         3.93566938e+08,  3.90585016e+08,  5.37925050e+08,
         0.00000000e+00,  2.68808805e+08,  2.69116245e+08,
         4.76769108e+08,  2.37418511e+08,  2.39350597e+08,
         2.68888775e+08,  0.00000000e+00, -2.68888775e+08]])

In [21]:
X_d = X
y_d = lr2.coef_[0][2] + lr2.coef_[0][1]*X_d + lr2.coef_[0][0]*X_d**2
y_d

array([[-1.20106717e+10, -1.47512156e+10, -1.45226759e+10, ...,
        -1.48309586e+10, -1.48268369e+10, -1.48309586e+10],
       [-4.69449128e+09, -1.47512909e+10, -1.45225651e+10, ...,
        -1.48309586e+10, -1.48268369e+10, -1.48309586e+10],
       [-1.46790847e+09, -1.47519760e+10, -1.45223231e+10, ...,
        -1.48268369e+10, -1.48268369e+10, -1.48309586e+10],
       ...,
       [-9.14985317e+09, -1.47519760e+10, -1.45223230e+10, ...,
        -1.48309586e+10, -1.48268369e+10, -1.48309586e+10],
       [-9.14985317e+09, -1.47511481e+10, -1.45215621e+10, ...,
        -1.48309586e+10, -1.48268369e+10, -1.48309586e+10],
       [-1.00307259e+10, -1.47502352e+10, -1.45227916e+10, ...,
        -1.48309586e+10, -1.48268369e+10, -1.48309586e+10]])

In [22]:
y_pred = lr2.predict(X_p)

In [27]:
print(f'MAE: {mean_absolute_error(y_test, y_pred)}')
#np.sqrt(np.mean(np.square(y-y_pred)))
np.mean(abs(y_test-y_pred))
#print(f'R^2: {lr2.score(X_test, y_test)}')

MAE: 9296114.684343854

9296114.684343854